body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.top{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color:white;
    font-weight: 600;
    border-radius: 15px;
}
.top{
    background-image:url(img/top-banner.png);
    background-repeat: no-repeat;
}
.bottom{
    display: flex;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
}
.gg{
    display: flex;
}
.experiences-item{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 10px 10px 40px navy;
}
.experiences-item{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#ggg{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan)
    border-image-slice:1;
}
#gggg{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato)
    border-image-slice:1;
}
footer p{
    text-align: center;
}